<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/man-art.jpg" class="img-fluid rounded" width="350" height="350" alt="" />
        </div>
        <div class="col-md-8">
            <p class="lead">
                I have a good experience in softwate development and solid experience in web development
                with different software technologies such Docker, ASP.NET, ASP.NET Core, Node.js,
                Spring, Jakarta Web Specs, MongoDb, MySQL and SQL Server.
                I have a experience with Java platform (Java, Kotlin, Spring, Tomcat, OpenLiberty, Jakarta MVC, Jakarta EE, Hibernate),
                also have a experience with .NET platform (ASP.NET, ASP.NET Core, MVC, WebAPI, SignalR, Entity Framework).
            </p>
            <p class="lead">
                I prefer Java technology stack more than .NET technology stack,
                because more freedom and benefits in the cloud technologies.
            </p>
        </div>
    </div>
</div>
