<div class="row">
    <div class="col-md-4">
        <h3>Sensor Network</h3>
        <time datetime="2024">2024</time>
        <p class="lead">
            Simple microservice based architecture system to collect data from IoT measurement devices.
            For software realization using Spring Boot, Spring Cloud, Spring Eureka, MongoDb and Next.js
        </p>
    </div>
</div>

<!--

<main class="mx-auto my-10 max-w-[95%]">
    <p class="text-lg text-center font-medium">
        This is a selection of personal open-source projects and work done as an employee and freelancer.
    </p>
    <article> <span class="text-lg font-bold">2023</span>
        <div class="mx-auto my-3 bg-white rounded-xl shadow-lg border-2 text-center">
            <h3 class="py-1 text-lg font-bold border-b-2">PasteX</h3>
            <div class="mx-2 my-3 flex flex-col md:flex-row space-x-4 items-center text-justify">My Next.js fork of
                popoular PasteBin application.</div>
        </div>
        <div class="mx-auto my-3 bg-white rounded-xl shadow-lg border-2 text-center">
            <h3 class="py-1 text-lg font-bold border-b-2">Blogy</h3>
            <div class="mx-2 my-3 flex flex-col md:flex-row space-x-4 items-center text-justify">Simple blog system
                built with Spring Boot, Thymeleaf and PostgreSQL, also using best practices in the world of Java
                programming, Spring web development and JPA mapping.</div>
        </div>
    </article>
    <article> <span class="text-lg font-bold">2022</span>
        <div class="mx-auto my-3 bg-white rounded-xl shadow-lg border-2 text-center">
            <h3 class="py-1 text-lg font-bold border-b-2">Sticky Notes</h3>
            <div class="mx-2 my-3 flex flex-col md:flex-row space-x-4 items-center text-justify">A simplified and
                lightweight version of the popular application built with React.js and fully uses React Hooks for
                software part and localStorage for store notes.</div>
        </div>
    </article>
    <article> <span class="text-lg font-bold">2021</span>
        <div class="mx-auto my-3 bg-white rounded-xl shadow-lg border-2 text-center">
            <h3 class="py-1 text-lg font-bold border-b-2">Weather Station</h3>
            <div class="mx-2 my-3 flex flex-col md:flex-row space-x-4 items-center text-justify">System for measuring
                temperature, atmospheric pressure, humidity and air quality index is fully implemented through ESP32 for
                microcontroller and BME680 for sensor. Later I realized communication via LoRa for remote measurement
                and local processing.</div>
        </div>
    </article>
    <article> <span class="text-lg font-bold">2018</span>
        <div class="mx-auto my-3 bg-white rounded-xl shadow-lg border-2 text-center">
            <h3 class="py-1 text-lg font-bold border-b-2">Paste Bin</h3>
            <div class="mx-2 my-3 flex flex-col md:flex-row space-x-4 items-center text-justify">My PasteBin.com project
                fork for fast paste sharing. This is my first ASP.NET Core MVC project, also using Entity Framework for
                ORM with MS SQL Server.</div>
        </div>
    </article>
    <article> <span class="text-lg font-bold">2017</span>
        <div class="mx-auto my-3 bg-white rounded-xl shadow-lg border-2 text-center">
            <h3 class="py-1 text-lg font-bold border-b-2">Blog System</h3>
            <div class="mx-2 my-3 flex flex-col md:flex-row space-x-4 items-center text-justify">A simple blog system
                built with ASP.NET MVC and MSSQL with Entity Framework and used best practices for software development
                and design patterns. This project have administration area for manage pages, posts and main blog
                navigation. All project implementatiion based on MVC arhitecture, AJAX requests, Design Patterns.</div>
        </div>
    </article>
    <article> <span class="text-lg font-bold">2015</span>
        <div class="mx-auto my-3 bg-white rounded-xl shadow-lg border-2 text-center">
            <h3 class="py-1 text-lg font-bold border-b-2">2048</h3>
            <div class="mx-2 my-3 flex flex-col md:flex-row space-x-4 items-center text-justify">he popular game 2048
                implemented entirely with VannilaJS without external libraries and TypeScript. The design is entirely
                original. The game using LocalStorage API for store results.</div>
        </div>
    </article>
</main>


-->
