<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary border-3 border-bottom border-primary-subtle">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/images/logo.png" class="img-fluid" width="95" />
        </a>
        <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="articles" routerLinkActive="active" class="nav-link">Articles</a>
                </li>
                <li class="nav-item">
                    <a routerLink="projects" routerLinkActive="active" class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link" href="https://github.com/ivanovx">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container content">
    <router-outlet />
</div>

<footer class="bg-body-tertiary text-center text-lg-start mt-5 border-3 border-top border-primary-subtle">
    <div class="text-center p-3">
        © 2024 Copyright: <a class="text-decoration-none" href="/">yourdomain.com</a>
    </div>
</footer>
