<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary border-3 border-bottom border-primary-subtle">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" class="img-fluid" width="95" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto" role="search">
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link" href="">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container content">
    <router-outlet />
</div>

<footer class="bg-body-tertiary text-center text-lg-start mt-5 border-3 border-top border-primary-subtle">
    <div class="text-center p-3">
        © 2024 Copyright:
        <a class="text-decoration-none" href="/">yourdomain.com</a>
    </div>
</footer>
