<header class="jumbotron">
    <img src="/images/avatar.jpg" class="img-fluid rounded-circle" width="250" height="250" alt="avatar" />
    <h1>Hey, I am Ivan Ivanov!</h1>
    <p class="lead">
        This is my personal website and here I share my ideas,
        projects and technical background as software engineer and with
        technical experience in web development, system design and software engineering, cryptography and blockchain.
        I have experience with different programming languages like C#, Python, JavaScript, Ruby, PHP and Java.
        Also I have good experience with Jakarta EE (formely Java EE) technology stack, Spring framework and Jetbrains Ktor.
    </p>
</header>
